<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/admin-login.js}"></script>
    <title>Sign in</title>
</head>

<body>
    <div class="">
        <div class="modal-login">
            <div class="logo-section">
                <img src="images/logo.png" th:src="@{images/logo.png}" alt=" ">
            </div>
            <div class="login-wrapper">
                <div class="login-form-wrapper">
                    <h2>Log in</h2>
                    <form class="login-form">
                        <input type="mail" th:name="email" placeholder="E-Mail Address">
                        <input type="password" th:name="password" placeholder="Password">
                        <button class="submit-button">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>