<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/admin-sections.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin-offers.js}"></script>
    <title>Offers</title>
</head>

<body>
    <header th:insert="~{fragments/header.html :: body} "></header>

    <div class="admin-wrapper">
        <!-- Hero img  -->
        <div th:insert="~{fragments/admin_menu.html :: body} "></div>

        <!-- SidebarMenu and Bar info -->
        <div th:insert="~{fragments/admin_section_offers.html :: body}" class="admin_section_home"></div>
        <!-- info del bar editable -->
    </div>
</body>

</html>