<html xmlns="http://www.thymeleaf.org">

<body>
    <div class="admin-menu-wrapper">
        <a th:href="@{/admin/home}" class="page-section-menu">Inicio</a>
        <a th:href="@{/admin/offers}" class="page-section-menu active">Ofertas</a>
        <a th:href="@{/admin/offers/new}" class="subsection-menu "> Crear nueva</a>
        <a th:href="@{/admin/tables}" class="page-section-menu">Mesas</a>
        <a th:href="@{/admin/reservations}" class="page-section-menu">Reservas</a>
    </div>
    <div class="offers-wrapper">
        <div th:each="offer : ${offers}" th:object="${offer}" class="offer-card">
            <div class="info-offer">
                <input type="text" style="display: none;" id="idOfer-`*{idOffer}`" th:value="*{idOffer}"></input>
                <h2 th:text="*{offerTitle}"></h2>
                <p>Descripción</p>
                <h2 th:text="*{offerDescription}"></h2>
                <p>Precio</p>
                <h2 th:text="*{offerPrice}"></h2>
                <p>Inicio - fin</p>
                <h2 th:text="*{startDate}"></h2> -
                <h2 th:text="*{endDate}"></h2>
            </div>
            <div class="icons-actions">
                <div>Lapiz</div>
                <div>Papelera</div>
            </div>

        </div>
    </div>

    <div class="sidebar-actions">
        <button id="activation" class="action-button">Activar oferta</button>
        <a th:href="@{/admin/offers/new}" class="action-button"> Crear nueva</a>
    </div>
</body>

</html>