<html xmlns="http://www.thymeleaf.org">

<body>
    <div class="admin-menu-wrapper">
        <a th:href="@{/admin/home}" class="page-section-menu">Inicio</a>
        <a th:href="@{/admin/offers}" class="page-section-menu ">Ofertas</a>
        <a th:href="@{/admin/offers/new}" class="subsection-menu active"> Crear nueva</a>
        <a th:href="@{/admin/tables}" class="page-section-menu">Mesas</a>
        <a th:href="@{/admin/reservations}" class="page-section-menu">Reservas</a>
    </div>
    <div class="offers-wrapper">
        <h2 class="title">Imagen para la nueva oferta</h2>
        <div th:object="${offer}" class="new-offer-card">
            <form th:action="@{'/admin/image/offer/save/'+*{idOffer}}" method="post" enctype="multipart/form-data">
                <input class="page-section-menu active" id="image" required type="file" name="image" accept="image/png, image/jpeg" />
                <button id="upload" type="submit">Subir imagen selecionada</button>
            </form>
        </div>
    </div>

    
</body>

</html>