<html xmlns="http://www.thymeleaf.org">

<body>
    <div class="admin-menu-wrapper">
        <a th:href="@{/admin/home}" class="page-section-menu active">Inicio</a>
        <a th:href="@{/admin/offers}" class="page-section-menu">Ofertas</a>
        <a th:href="@{/admin/tables}" class="page-section-menu">Mesas</a>
        <a th:href="@{/admin/reservations}" class="page-section-menu">Reservas</a>
    </div>
    <div th:object="${bar}" class="bar-info">
        <h1 th:text="*{name}"></h1>
        <p id="idbar" th:text='*{idbar}' style="display:none"></p>
        <div class="info-wrapper">
            <p class="title-section">Descripción</p>
            <textarea id="description" type="text" th:text="*{description}"></textarea>
            <p class="title-section">Teléfono</p>
            <input id="phone" type="text" th:value="*{phone}"></input>
            <p class="title-section">Dirección</p>
            <input id="address" type="text" th:value="*{direction}"></input>
            <p class="title-section">Horario apertura</p>
            <input id="schedule" type="text" th:value="*{schedule}"></input>
            <p class="title-section">Aforo total del bar <span>(máx. personas)</span></p>
            <input id="totalCapacity" type="number" th:value="*{totalCapacity}"></input>
            <p class="title-section">Aforo actual <span>(número personas)</span></p>
            <input id="currentCapacity" type="number" th:value="*{currentCapacity}"></input>
            <p class="title-section">Aforo permitido <span>(%)</span></p>
            <input id="allowedCapacity" type="number" th:value="*{allowedCapacity}"></input>
        </div>
    </div>
    <div class="submit-changes">
        <button class="changes-button">Guardar cambios</button>
    </div>
</body>

</html>