<html xmlns="http://www.thymeleaf.org">

<body>
    <div class="admin-menu-wrapper">
        <a th:href="@{/admin/home}" class="page-section-menu">Inicio</a>
        <a th:href="@{/admin/offers}" class="page-section-menu">Ofertas</a>
        <a th:href="@{/admin/offers}" class="subsection-menu active">Editar oferta</a>
        <a th:href="@{/admin/tables}" class="page-section-menu">Mesas</a>
        <a th:href="@{/admin/reservations}" class="page-section-menu">Reservas</a>
    </div>
    <div class="offers-wrapper">
        <h2 class="title">Editar oferta</h2>
        <div th:object="${offer}" class="new-offer-card">

            <form>
                <input type="hidden" th:value="*{bar.idbar}" id="idbar"></input>
                <input type="hidden" th:value="*{idOffer}" id="idOffer" name="idOffer"></input>
                <input type="hidden" th:value="*{offerImage}" id="offerImage" name="offerImage"></input>
                <h2>Título</h2>
                <input type="text" th:name="offerTitle" th:value="*{offerTitle}" class="even"></input>
                <h2>Descripción</h2>
                <input type="text" th:name="offerDescription" th:value="*{offerDescription}" class="odd"></input>
                <h2>Precio</h2>
                <div class="price-wrapper">
                    <input type="number" th:name="offerPrice" th:value="*{offerPrice}"></input>
                    <span> €</span>
                </div>
                <h2>Puntos minimos para activar</h2>
                <input type="number" th:name="offerMinimunPoints" th:value="*{offerMinimunPoints}" class="odd"></input>
                <h2>Puntos que otorga la oferta</h2>
                <input type="number" th:name="offerRewardsPoints" th:value="*{offerRewardsPoints}" class="odd"></input>
                <h2>Fecha inicio</h2>
                <input id="date" type="date" th:name="startDate" th:value="*{startDate}"></input>
                <h2>Fecha final</h2>
                <input type="date" class="odd" th:name="endDate" th:value="*{endDate}"></input>
            </form>

        </div>
    </div>

    <div class="sidebar-actions">
        <button id="updateOffer" class="action-button">Guardar cambios</button>
    </div>
</body>

</html>