<html xmlns="http://www.thymeleaf.org">

<body>
    
    <div class="admin-menu-wrapper">
        <a th:href="@{/admin/home}" class="page-section-menu">Inicio</a>
        <a th:href="@{/admin/offers}" class="page-section-menu ">Ofertas</a>
        <a th:href="@{/admin/tables}" class="page-section-menu">Mesas</a>
        <a th:href="@{/admin/reservations}" class="page-section-menu active">Reservas</a>
        <a th:href="@{/admin/reservations/new}" class="subsection-menu">Agregar nueva</a>
    </div>
    
    <div class="reservations-wrapper">
        <h2 class="title">RESERVAS</h2>
        <h4 class="title">Filtrar:</h4>
        <form action="">
            <label for="date">Fecha</label>
            <input type="date" name="date">
            <label for="phone">Teléfono</label>
            <input type="tlf" name="phone">
            <button type="submit">Filtrar</button>
        </form>
        <p th:if="!*{#lists.size(reservations)}">No hay resultados</p>
    <div th:each="res : ${reservations}" th:object="${res}">
        <div class="reservation-card">
         
            <!-- Buscador por num de telf y feche -->
            <div class="reservation-info inpar">
                <h2>Id Reserva</h2>
                <p th:text="*{idReservationBook}"></p>
            </div>
            <div class="reservation-info">
                <h2 class="user">Usuario: </h2>
                <p th:text="'Nombre: ' + *{user.name}"></p> 
                <p th:text="'Tlf: ' + *{user.phoneNumber}"></p>
            </div>
            <div class="reservation-info inpar">
                <h2>Numero mesa</h2>
                <p th:text="*{scheduleTableReservation.table.idTable}"></p>
            </div>
            <div class="reservation-info">
                <h2>Fecha reserva:</h2>
                <p th:text="*{reservationDate}"></p>
            </div>
            <div class="reservation-info inpar">
                <h2>Hora de la reserva </h2>
                <p th:text="'de ' + *{scheduleTableReservation.schedule.checkInHour} + ' a ' + *{scheduleTableReservation.schedule.checkOutHour}">
            </div>
            <!--  -->
        </div>
        <!-- ----------------------------------------------------- -->
    </div>
</div>
</body>

</html>