<html xmlns="http://www.thymeleaf.org">

<body>
    <div class="admin-menu-wrapper">
        <a th:href="@{/admin/home}" class="page-section-menu">Inicio</a>
        <a th:href="@{/admin/offers}" class="page-section-menu active">Ofertas</a>
        <a th:href="@{/admin/offers/new}" class="subsection-menu"> Crear nueva</a>
        <a th:href="@{/admin/tables}" class="page-section-menu">Mesas</a>
        <a th:href="@{/admin/reservations}" class="page-section-menu">Reservas</a>
    </div>
    <div class="offers-wrapper">
        <h2 class="title">OFERTAS</h2>
        <div th:each="offer : ${offers}" th:object="${offer}" class="offer-card">
            <div class="wrapper-info">
                <input type="text" style="display: none;" th:id="*{idOffer}" th:value="*{idOffer}"></input>
                <div class="offer-info odd">
                    <h2>Título</h2>
                    <p th:text="*{offerTitle}"></p>
                </div>
                <div class="offer-info even">
                    <h2>Descripción</h2>
                    <p th:text="*{offerTitle}"></p>
                </div>
                <div class="offer-info odd">
                    <h2>Precio</h2>
                    <p th:text="*{offerDescription}"></p>
                </div>

                <div class="offer-info even">
                    <h2>Precio</h2>
                    <p th:text="*{offerPrice}"></p>
                </div>

                <div class="offer-info odd">
                    <h2>Duración</h2>
                    <p th:text="*{startDate}"></p>
                    <p th:text="*{endDate}"></p>
                </div>
            </div>
            <div class="icons-actions">
                <div class="edit-card" th:onclick="'javascript:editSaveOffer(' + *{idOffer} + ')'"><img th:src="@{../images/svg/pencil-alt-solid.svg}"></div>
                <div class="remove-card" th:onclick="'javascript:deleteOffer(' + *{idOffer} +')'"><img th:src="@{../images/svg/trash-solid.svg}"></div>
            </div>

        </div>
    </div>

    <div class="sidebar-actions">
        <button id="activation" class="action-button">Activar oferta</button>
        <a th:href="@{/admin/offers/new}" id="creation" class="action-button"> Crear nueva</a>
    </div>
</body>

</html>