<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Admin</title>
</head>

<body>
    <header th:insert="~{fragments/header.html :: body} ">
    </header>
    <div class="">
        <img src="" alt="">
        <div>
            <div>
                <!-- columnas Datos, Ofertas, Mesas -->
            </div>
            <div>
                <!-- info del bar editable -->
            </div>
        </div>
    </div>
</body>