<html xmlns="http://www.thymeleaf.org">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/error-template.js}"></script>

<body>
    <div class="super-cool-game">
        <p class="game-description">👾Space Invaders destroyed this page!👾 </br> Take revenge on them!</p>
        <p> Use <span class="info label-danger">Space</span> to shoot and <span class="info label-danger">←</span>&#160;<span class="info label-danger">→</span> to move!&#160;&#160;&#160;<button class="restart" id="restart">Restart</button></p>
    </div>
    <canvas id="space-invaders"></canvas>

    <a th:href="@{/admin}" class="go-home">HOME</a>

</body>

</html>