<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Sign in</title>
</head>

<body>
    <div class="">
        <div class="modal-login">
            <div class="logo-section">
                <img src="images/logo.png" th:src="@{images/logo.png}" alt=" ">
            </div>
            <div class="login-form-wrapper">
                <div class="login-form">
                    <p>Log In</p>
                    <form action="/home">
                        <input type="text">
                        <input type="text">
                        <input type="button" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>