.tables-wrapper {
    @extend .reservations-wrapper;
    .buttons {
        display: flex;
    }
    .delete-card-50 {
        @extend .cancel-card;
        width: 50%;
        margin-right: 10px;
        background-color: #d13737!important;
        img {
            pointer-events: none;
            max-width: 20px;
        }
    }
    .edit-card-50 {
        @extend .cancel-card;
        margin-left: 10px;
        width: 50%;
        background-color: #008CBA!important;
        &:hover {
            background-color: #019ed3;
        }
        img {
            pointer-events: none;
            max-width: 20px;
        }
    }
    .table-info {
        @extend .reservation-info;
        h2 {
            margin-bottom: 10px;
        }
        li {
            list-style: none;
            text-align: right;
        }
    }
    .table-card {
        @extend .reservation-card;
        display: flex;
        flex-direction: column;
        height: 100%;
        .schedule {
            flex-grow: 1;
        }
    }
}
#schedule-table{
    display: flex;
    width: 200px;
    text-align: center;
    height: 50%;
    padding: 5px;
    font-size: 20px;
}
#new-schedule{
    margin-top: 30px;
    margin-left: 0;
    padding: 5px;
    background-color: darkred;
    color: #fff;
    border: 1px #000 solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    font-family: "Roboto",sans-serif;
    cursor: pointer;
}
#add-schedule-new{
    display: flex;
    flex-direction: column;
}
.back{
    margin-left: 10px;
    background-color: #000;
    color: #fea701;
    height: 90%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    width: 200px;
    letter-spacing: 5px;
    font-weight: bold;
    transition: .2s background-color;
    padding: 10px;
    text-decoration: none;
}
#table-atributes-form{
    display: flex;
    flex-direction: column;
    label{
        margin: 5px 0;
    }
    #edit-table-save{
        margin-top: 20px;
        margin-left: 0;
        padding: 15px;
        margin-top: 30px;
        margin-left: 0;
        padding: 5px;
        background-color: darkred;
        color: #fff;
        border: 1px #000 solid;
        border-radius: 10px;
        padding: 10px;
        margin-top: 15px;
        width: 100%;
        text-decoration: none;
        font-weight: 600;
        font-size: large;
        font-family: "Roboto",sans-serif;
        cursor: pointer;
    }
}
input[type=number]{
    width: 50px;
}
.schedules-list-edit{
    width: 100%;
    display: flex;
    flex-direction: column;
    form{
        display: flex;
    }
    .delete-btn{
        height: 30px;
        padding: 5px;
        width: 30px;
        color: black;
        padding: 0;
        border-radius: 0;
        background: rgb(247, 86, 86);
        border: 1.8px solid rgb(32, 32, 32);
        font-weight: 900;
        cursor: pointer;
    }
}
.add-table-form{
    display: flex;
    flex-direction: column;
    label{
        margin: 5px 0;
    }
    
    #new-table{
        background-color: darkred;
        color: #fff;
        border: 1px #000 solid;
        border-radius: 10px;
        padding: 10px;
        margin-top: 15px;
        width: 100%;
        text-decoration: none;
        font-weight: 600;
        font-size: large;
        font-family: "Roboto",sans-serif;
        cursor: pointer;
        width: 100%;
        margin-top: 50px;
        margin: 50px 0 0 0;
        padding: 20px;
    }
}

@media(max-width:$breakpoint-mobile) {
    .reservations-wrapper {
        .table-info-wrapper {
            width: 85%;
        }
    }
    .add-table-form {
        display: flex;
        flex-wrap: wrap;
    }
    #new-table {
        padding: 5%;
        height: auto;
        margin: 30px auto;
    }
}