.admin_section_home {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
    .bar-info {
        margin-top: 16px;
        margin-left: 8%;
        width: 60%;
        .info-wrapper {
            margin-top: 30px;
            .title-section {
                padding-top: 35px;
                font-weight: 600;
                font-size: large;
            }
            textarea,
            input {
                outline: none;
                margin-top: 5px;
                border-radius: 10px;
                font-size: inherit;
                font-weight: 500;
                height: 45px;
                width: 90%;
                background-color: white;
                border-color: black;
                border-width: 1px;
                padding-left: 15px;
                padding-top: 5px;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
    .submit-changes {
        margin: 16px auto 0;
        width: 10%;
        height: fit-content;
        position: sticky;
        top: 50px;
        button {
            background-color: darkred;
            color: white;
            border: 1px black solid;
            border-radius: $main-button-radius;
            padding: 10px;
            margin-top: 15px;
            width: 100%;
            text-decoration: none;
            font-weight: 600;
            font-size: large;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
        }
    }
    .sidebar-actions {
        display: flex;
        flex-wrap: wrap;
        width: 15%;
        height: fit-content;
        margin: 0 auto;
        position: sticky;
        top: 50px;
        button,
        a {
            width: 100%;
            cursor: pointer;
            height: fit-content;
            background-color: darkred;
            color: white;
            border: 1px black solid;
            border-radius: $main-button-radius;
            padding: 10px;
            margin-top: 15px;
            text-decoration: none;
            font-weight: 600;
            font-size: large;
            font-family: 'Roboto', sans-serif;
            text-align: center;
        }
    }
}

#bar-imgs-carrusel {
    margin-bottom: 20px;
    position: relative;
    overflow-x: auto;
    display: flex;
    .delete-img-btn {
        position: absolute;
        right: 4px;
        top: 4px;
        height: 30px;
        padding: 5px;
        width: 30px;
        background: rgb(247, 86, 86);
        border: 1.8px solid rgb(32, 32, 32);
        font-weight: 900;
        cursor: pointer;
    }
    .bar-img {
        position: relative;
        margin: 10px;
    }
    &::-webkit-scrollbar {
        border-radius: 10px;
        width: 5px;
        height: 8px;
    }
    /* width */
    &::-webkit-scrollbar {
        width: 1px;
    }
    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 10px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #fea701;
        border-radius: 10px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #f7b741;
    }
}
.offer-img-wrapper{
    .delete-img-btn{
        position: absolute;
        right: 4px;
        top: 4px;
        height: 30px;
        padding: 5px;
        width: 30px;
        background: rgb(247, 86, 86);
        border: 1.8px solid rgb(32, 32, 32);
        font-weight: 900;
        cursor: pointer;
    }
    position: relative;
}
@media (max-width: $breakpoint-mobile) {
    #bar-imgs-carrusel{
        width: 80vw;
    }
    .offer-img-wrapper{
        img{
            max-width: 100%;
        }
    }
   
    .admin_section_home {
        margin-bottom: 0;
        .bar-info {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            // padding: ;
            h1 {
                width: 100%;
                text-align: center;
            }
            .info-wrapper {
                margin: 10px 10% 10% 10%;
            }
        }
        .submit-changes {
            margin: 0;
            width: 100%;
            display: flex;
            button {
                width: 50%;
                margin: auto;
            }
        }
        .sidebar-actions {
            
            bottom: 0;
            background-color: #ffffff;
            border-radius: 29px 25px 0 0;
            box-shadow: 1px 1px 9px #888888;
            width: 100%;
            justify-content: center;

            button,
            a {
                padding: 10px 0;
                width: 80%;
                
            }
            #creationOffer{
                margin-bottom: 20px;
            }
            a{
                margin-bottom: 20px;
            }
        }
    }
}