.main-header {
    background-color: #FEA701;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 33pt;
    font-weight: 600;
    padding: 2%;
    display: flex;
    justify-content: flex-start;
    .brandTitle {
        width: 33%;
        img {
            width: 82px;
            height: 58px;
        }
    }
    .brand-name {
        display: inline;
        width: 33%;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    .header-btn {
        width: 33%;
        padding: 5%;
        button {
            border-radius: $main-button-radius;
        }
    }
}

.bar-hero-img {
    height: 150px;
    width: 100%;
    background-image: url(../images/hero-bar.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}