.modal-login {
    width: 100%;
    height: 100vh;
    display: flex;
    .logo-section {
        padding: 25px;
        background-color: #FEA701;
        width: 50%;
        img {
            margin-top: 12%;
            width: 100%;
        }
    }
    .login-wrapper {
        width: 50%;
        font-family: 'Roboto', sans-serif;
        .login-form-wrapper {
            padding: 28% 9% 0;
            >h2 {
                font-size: xx-large;
                text-align: left;
            }
            .login-form {
                display: grid;
                width: 100%;
                margin: 60px auto 0;
                input[type=mail],
                [type=password] {
                    margin-top: 20px;
                    border-radius: 10px;
                    font-size: inherit;
                    font-weight: 500;
                    height: 45px;
                    background-color: white;
                    border-color: black;
                    padding-left: 20px;
                    font-family: 'Roboto', sans-serif;
                }
                .submit-button {
                    margin-top: 50px;
                    border-radius: 10px;
                    font-style: normal;
                    font-weight: 600;
                    cursor: pointer;
                    height: 60px;
                    border-color: black;
                    padding-left: 20px;
                    background-color: black;
                    font-size: x-large;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                }
            }
        }
        .privacy-terms {
            margin: auto;
            text-align: center;
        }
    }
    a {
        color: deepskyblue;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    input:focus {
        outline: none;
    }
}

@media (max-width:$breakpoint-mobile) {
    .modal-login {
        .login-wrapper {
            .login-form-wrapper {
                width: 90%;
                justify-content: center;
                padding: 0;
                margin: 50px auto 0;
                display: flex;
                flex-wrap: wrap;
                .login-form {
                    width: 80%;
                    input {
                        width: inherit;
                        height: 40px;
                    }
                    .submit-button {
                        text-align: center;
                        padding: 0;
                    }
                }
            }
        }
    }
}